<link rel="stylesheet" href="style/footer.css">
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <!-- <img src="/images/logo_4s.png" alt="HS Logo"> -->
            <img src="images/logo-transparent.png" alt="Restaurant Les 4 Saisons Logo">
        </div>
        <div class="footer-contact-info">
            <p class="restaurant-name">Restaurant Les 4 Saisons</p>
            <p>Rue Henri-Blanvalet 3</p>
            <p>1207 Genève, Suisse</p>
        </div>
        <div class="footer-phone">
            <a href="tel:+41227005067" class="phone-number">(+41) 22 700 50 67</a>
        </div>
        <div class="footer-social">
            <p class="social-heading">Suivez-nous</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/restaurantles4saisons/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/restaurant_les4saisons/?hl=fr"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Politique de confidentialité</span>
        <span>© 2025 Restaurant Les 4 Saisons All Rights Reserved</span>
        <span>Réalisé par Cain</span>
    </div>
</footer>