<footer>
    <div class="footer-content">
        <div class="footer-left">
            <img src="images/logo.png" alt="Restaurant Les 4 Saisons Logo" class="footer-logo">
            <p><strong>Restaurant Les 4 Saisons</strong></p>
            <p>Rue Henri-Blanvalet 3<br>1207 Genève, Suisse</p>
        </div>
        <div class="footer-center">
             <a href="tel:+41227005067" class="btn">(+41) 22 700 50 67</a> </div>
        <div class="footer-right">
            <p><strong>Suivez-nous</strong></p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Politique de confidentialité</span>
        <span>© 2025 Restaurant Les 4 Saisons All Rights Reserved</span>
        <span>Réalisé par Cain</span> </div>
</footer>