<header>
    <nav>
        <a href="/restaurant-page/" class="logo">
            <img src="images/logo-transparent.png" alt="Restaurant Les 4 Saisons Logo">
        </a>
        <ul class="main-nav">
            <li><a href="/restaurant-page">ACCUEIL</a></li>
            <li><a href="/restaurant-page/menu">LA CARTE DES METS</a></li>
            <li><a href="/restaurant-page/gallery">GALERIE</a></li>
            <li><a href="/restaurant-page/about">A PROPOS</a></li>
        </ul>
        <a href="tel:+41227005067" class="nav-phone">(+41) 22 700 50 67</a>
        
        <button id="mobile-nav-toggle" class="mobile-nav-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
</header>
