<section id="menu-slider-section" data-aos="fade-up">
    <h2>La carte des mets</h2>
    <div class="menu-scroll-container">
        <div class="menu-categories">
            <a href="/menu.html" class="category" data-aos="fade-up" data-aos-delay="300">
                <picture>
                    <source srcset="icon/icon-salades-new.webp" type="image/webp">
                    <img src="" alt="Salades" width="70" height="70" loading="lazy">
                </picture>
                <span>Menus</span>
            </a>
            <a href="/sub-page/category.html?category=entrees" class="category" data-aos="fade-up" data-aos-delay="100">
                <picture>
                    <source srcset="icon/icon-entrees-new.webp" type="image/webp">
                    <img src="icon/icon-entrees-new.jpg" alt="Entrées" width="70" height="70" loading="lazy">
                </picture>
                <span>Entrées</span>
            </a>
            <a href="/sub-page/category.html?category=dimsum" class="category" data-aos="fade-up" data-aos-delay="200">
                <picture>
                    <source srcset="icon/icon-dimsum-new.webp" type="image/webp">
                    <img src="icon/icon-dimsum-new.jpg" alt="Dim Sum" width="70" height="70" loading="lazy">
                </picture>
                <span>Dim Sum</span>
            </a>
            <!-- <a href="/menu.html#salades" class="category" data-aos="fade-up" data-aos-delay="300">
                <picture>
                    <source srcset="icon/icon-salades-new.webp" type="image/webp">
                    <img src="icon/icon-salades-new.jpg" alt="Salades" width="70" height="70" loading="lazy">
                </picture>
                <span>Salades</span>
            </a> -->
            <a href="/sub-page/category.html?category=potages" class="category" data-aos="fade-up" data-aos-delay="400">
                <picture>
                    <source srcset="icon/icon-potages-new.webp" type="image/webp">
                    <img src="icon/icon-potages-new.jpg" alt="Potages" width="70" height="70" loading="lazy">
                </picture>
                <span>Potages et soupes</span>
            </a>
            <a href="/sub-page/category.html?category=poulet" class="category" data-aos="fade-up" data-aos-delay="500">
                <picture>
                    <source srcset="icon/icon-poulet-new.webp" type="image/webp">
                    <img src="icon/icon-poulet-new.jpg" alt="Poulet" width="70" height="70" loading="lazy">
                </picture>
                <span>Poulet</span>
            </a>
            <a href="/sub-page/category.html?category=boeuf" class="category" data-aos="fade-up" data-aos-delay="600">
                <picture>
                    <source srcset="icon/icon-boeuf-new.webp" type="image/webp">
                    <img src="icon/icon-boeuf-new.jpg" alt="Bœuf" width="70" height="70" loading="lazy">
                </picture>
                <span>Bœuf</span>
            </a>
        </div>
    </div>
</section>